@import '../styles/style.scss';

.rental-page {
    @include flex-content-page;

    .rental-body {
      width: calc(100% - 40px);
      max-width: $max-width-body;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

    .rental-infos {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      
      .location-infos,
      .host-rate {
        flex-basis: 50%;
      }

      .host-rate {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .collapse-rental-page {
        display: flex;
        gap: 5%;
        width: 100%;

        .collapse-container {
          
          h3 {
            font-size: 1.125rem;
            line-height: 26px;
          }
        }
    }
  }
};

@media (max-width: $breakpoint-mobile) {

  .rental-page {
    @include flex-content-page-breakpoint;

    .rental-body {
      align-items: flex-start;

      .rental-infos {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      
      .location-infos {

        h2 {
          font-size: 1.125rem;
          line-height: 26px;
        }

        h3 {
          font-size: 0.875rem;
          line-height: 20px;
        }
      }

      .host-rate {
        flex-direction: row-reverse;
      }

      .collapse-rental-page {
        flex-direction: column;
        width: 100%;
        gap: 20px;

        .all-collapse {
          width: 100%;

          .collapse-container {
            h3 {
              font-size: 0.8125rem
            }
          }
        }
      }
    }
  }
};