@import '../../styles/style.scss';

header {
  width: calc(100% - 40px);
  max-width: $max-width-body;
  display: flex;
  justify-content: space-between;
  align-items: center;

    img {
      width: 210px;
      align-items: center;
    }
  
    .navbar {
      display: flex;
      align-items: center;
      gap: 50px;
  
      a {
        font-size: 1.5rem;
        font-weight: 500;

        &.active {
          border-bottom: solid 2px $main-color;
        }
      }
    }
  }

//adaptation selon écrans
@media (max-width: $breakpoint-mobile) {
  header {
    img {
      width: 145px;
    }

    .navbar {
      gap : 30px;
        a {
          font-size: 0.75rem;
          text-transform: uppercase;
        }
    }
  }  
}
  
