.banner {
    width: 1240px;
    display: flex;
}

.banner img {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    background: rgb(0, 0, 0, 0.3);
    object-fit: cover;
    position: relative;
}

.banner-text {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
}   